<p id="notice"><%= notice %></p>

<!-- This is completely not dry, but for now -->
<% if Rails.env.development? %>
  <iframe
    width="100%"
    height="500"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=<%= CONFIG_API["google_maps"] %>&zoom=13&q=diner&center=<%= @current_location[:lat] %>,<%= @current_location[:lon] %>">
  </iframe>
<% else %>
  <iframe
    width="100%"
    height="500"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/search?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&zoom=13&q=diner&center=<%= @current_location[:lat] %>,<%= @current_location[:lon] %>">
  </iframe>
<% end %>

<h2>Locations</h2>


<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Coordinates</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.address %></td>
        <td><%= location.category %></td>
        <td><%= location.latitude %> latitude, <%= location.longitude %> longitude</td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>

<br><br>
