<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @location, :name %>
</p>


<p>
  <strong>Address:</strong>
  <%= best_in_place @location, :address %>
</p>

<iframe
  width="550"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyB4coigno47Xpx4bPB4Z_RgVFHdT8OhBQY&q=<%= @location.name %>&zoom=14&q=diner&center=<%= @location.latitude %>,<%= @location.longitude %>">
</iframe>

<h3>Nearby Locations</h3>
<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
</ul>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
